<% layout('./layouts/bootstrapBoilerplate') %>
<h1>This is the admin homepage</h1>
<ul>
    <li>
        <a href='/users'>List of Users</a>
    </li>
    <li>
        <a href='/students'>List of Students</a>
    </li>
    <li>
        <a href='/logout'>Logout</a>
    </li>
</ul>