<% layout('layouts/bootstrapBoilerplate')%>
<div class="header"><%=msg%></div>
<br>
<h3>Student Name: <%=student.firstName%> <%=student.lastName%></h1>
<h3>Instagram Name: <%=student.instaName%></h3>

<a href='/students'>Return to Student List</a>
