//abstracts
@import "./boilerplate/_mixins.scss";
@import "./boilerplate/_colors.scss";

//layout
@import "./layout/main.scss";
@import "./layout/navbar.scss";
@import "./layout/footer.scss";
@import "./boilerplate/loadingScreen.scss";

//pages
@import "./pages/instafeed.scss";
@import "./pages/welcome.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @media only screen and (max-width: 1300px) {font-size: 50%;}
    @media only screen and (max-width: 1000px) {font-size: 50%;}
    @media only screen and (max-width: 490px) {font-size: 36%;}
    @media only screen and (max-width: 380px) {font-size: 28%;}
    @media only screen and (min-width: 1500px) {font-size: 62.5%;}
}
















