//abstracts
@import "./boilerplate/_mixins.scss";
@import "./boilerplate/_colors.scss";

//layout
@import "./layout/main.scss";
@import "./layout/navbar.scss";
@import "./layout/footer.scss";
@import "./boilerplate/loadingScreen.scss";

//pages
@import "./pages/instafeed.scss";
@import "./pages/welcome.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @media (max-width: 1300px) {font-size: 50%;} //tablet landscape
    @media (max-width: 1000px) {font-size: 50%;} //tablet portrait
    @media (max-width: 490px) {font-size: 36%;} //phone portrait large
    @media (max-width: 380px) {font-size: 28%;} //phone portrait small
    @media (min-width: 1500px) {font-size: 62.5%;} // desktop
}
















