<div class="navbar">
  <a class="logo" href="/">
    <div><sup>The </sup>BioLab</div><sup>at hthi</sup></a>
  <div class="navbarFull">
      <ul class="courseList">
          <li class="courseListItem"><a class="course" id='biology' href="/instafeed/biology/hthiexperimentalresearchproject">Biology</a></li>
          <li class='navSpacer'></li>
          <li class="courseListItem"><a class="course" id='forensics' href="/instafeed/forensics/hthiforensicshair">Forensics</a></li>
      </ul>
      <ul class="hashtagList" id="biologyList">
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthiexperimentalresearchproject">Research Projects</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthiplantcs">Botany</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthiplanktontow">Marine Biology</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthivitaminccrystallization">Vitamin C</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthimossecosystem">Moss Ecology</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/biology/hthientomology">Entomology</a></li>
      </ul>
      <ul class="hashtagList" id='forensicsList'>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/forensics/hthiforensicshair">Hair</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/forensics/hthiforensicsfibers">Fibers</a></li>
          <li class='navSpacer'></li>
          <li class="hashtagListItem"><a class="hashtag" href="/instafeed/forensics/hthiforensicspollen">Pollen</a></li>
      </ul>
  </div>
  <div class="navbarMini">
      <div id="navbarMiniContainer">
          <div class="navbarDash"></div>
          <div class="navbarDash"></div>
          <div class="navbarDash"></div>
      </div>
  </div>
  <sidebar id="navLinksBackdrop">
    <div id="navLinksContainer">
        <ul><span>Biology</span>
            <li><a class="link" href="/instafeed/biology/hthiexperimentalresearchproject">Research Projects</a></li>
            <li><a class="link" href="/instafeed/biology/hthiplantcs">Botany</a></li>
            <li><a class="link" href="/instafeed/biology/hthiplanktontow">Marine Biology</a></li>
            <li><a class="link" href="/instafeed/biology/hthivitaminccrystallization">Vitamin C</a></li>
            <li><a class="link" href="/instafeed/biology/hthimossecosystem">Moss Ecology</a></li>
            <li><a class="link" href="/instafeed/biology/hthientomology">Entomology</a></li>
            <li><a class="link" id="pixelWidth">Pixel Width</a></li>
        </ul>
        <ul><span>Forensics</span>
            <li><a class="link" href="/instafeed/forensics/hthiforensicshair">Hair</a></li>
            <li><a class="link" href="/instafeed/forensics/hthiforensicsfibers">Fibers</a></li>
            <li><a class="link" href="/instafeed/forensics/hthiforensicspollen">Pollen</a></li>
        </ul>
    </div>
  </sidebar>
  <script src="/javaScripts/navbar.js"></script>
</div>