<% layout('./layouts/boilerplate') %>
<h1>This is the admin homepage</h1>
<ul>
    <li>
        <a href='/instafeed/hthibiologyspring2022q3'>Home Page</a>
    </li>
    <li>
        <a href='/instafeedDevelopment'>Development Page</a>
    </li>
    <li>
        <a href='/users'>List of Users</a>
    </li>
    <li>
        <a href='/students'>List of Students</a>
    </li>
</ul>