<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instafeed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="/stylesheets/stylesheetCards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div id="navbar">
            <div id="logo"> <h1><sup id='tinyTitleFont'>The </sup>BioLab<br><sup id='tinyTitleFont'>at </sup>hthi</h1></div>
            <div class="navItems">
                <ul id="quarterList">
                    <li class="quarterListItem"><a class="quarter" id='quarterOne' href="/instafeed/hthibiologyfall2021">Q1</a></li>
                    <li class='navSpacer'></li>
                    <li class="quarterListItem"><a class="quarter" id='quarterTwo' href="/instafeed/hthibiologyfall2021q2">Q2</a></li>
                    <li class='navSpacer'></li>
                    <li class="quarterListItem"><a class="quarter" id='quarterThree' href="/instafeed/hthibiologyspring2022q3">Q3</a></li>
                </ul>
                <ul class="hashtagList" id="hashtagListQuarterOne">
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiexperimentalresearchproject">Research Projects</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplantcs">Botany</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplanktontow">Marine Biology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthivitaminccrystallization">Vitamin C</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyfall2021">All</a></li>
                </ul>
                <ul class="hashtagList" id="hashtagListQuarterTwo">
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthimossecosystemq2">Moss Ecology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthientomologyq2">Entomology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplantcsq2">Botany</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiplanktontowq2">Marine Biology</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthivitaminccrystallizationq2">Vitamin C</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyfall2021q2">All</a></li>
                </ul>
                <ul class="hashtagList" id='hashtagListQuarterThree'>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicshairq3">Hair</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicsfibersq3">Fibers</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthiforensicspollenq3">Pollen</a></li>
                    <li class='navSpacer'></li>
                    <li class="hashtagListItem"><a class="hashtag" href="/instafeed/hthibiologyspring2022q3">All</a></li>
                </ul>
            </div>
        </div>
        <div class="row container-fluid" id="row_2">
            <div class="cardRow">
                <div class="col">
                    <div class="card card1" id="card1">
                        <div class="cardSide cardSideFront card1Front" id='card1Front'>
                            <div class="textbox textboxFront">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='projectProfile'>
                                            <div class="projectPicContainer">
                                                <img class='projectPic' src='/media/studentHeadshots/Nobody.jpg'>
                                                <h3 class='projectTitle'>This is a project name</h3>
                                            </div>
                                            <div class="spacer"></div>
                                            <div class="projectNamesContainer">
                                                <div class="projectNameContainer">
                                                    <img class='projectNamesPic' src='/media/studentHeadshots/Nobody.jpg'>
                                                    <h3 class='projectNames'>Gregory Harrisburg</h3>
                                                </div>
                                                <div class="projectNameContainer">
                                                    <img class='projectNamesPic' src='/media/studentHeadshots/Nobody.jpg'>
                                                    <h3 class='projectNames'>Rosalind Franklin</h3>
                                                </div>
                                                <div class="projectNameContainer">
                                                    <img class='projectNamesPic' src='/media/studentHeadshots/Nobody.jpg'>
                                                    <h3 class='projectNames'>Henrietta Lacks</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardFront imgCard1Front' id='imgCard1Front'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                        <div class="cardSide cardSideBack card1Back" id='card1Back'>
                            <div class="textbox textboxBack">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Jonathan<br>Williamson</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Muchas<br>Gracias</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Gertrude<br>Stein</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardBack imgCard1Back' id='imgCard1Back'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card2" id="card2">
                        <div class="cardSide cardSideFront card2Front" id='card2Front'>
                            <div class="textbox textboxFront">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Jonathan<br>Williamson</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Muchas<br>Gracias</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardFront imgCard2Front' id='imgCard2Front'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                        <div class="cardSide cardSideBack card2Back" id='card2Back'>
                            <div class="textbox textboxBack">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>John<br>Doe</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Muchas<br>Gracias</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardBack imgCard2Back' id='imgCard2Back'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card3" id="card3">
                        <div class="cardSide cardSideFront card3Front" id='card3Front'>
                            <div class="textbox textboxFront">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>John<br>Doe</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Muchas<br>Gracias</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardFront imgCard3Front' id='imgCard3Front'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                        <div class="cardSide cardSideBack card3Back" id='card3Back'>
                            <div class="textbox textboxBack">
                                <div class="dateAndCaption">
                                    <h3 class='date'>January 31, 2002</h3>
                                    <p class='caption'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam cum accusamus, blanditiis omnis assumenda est eligendi, dolores quod esse totam, ducimus numquam explicabo exercitationem minus nulla impedit non hic.</p>
                                </div>
                                <div class='profiles'>
                                    <h4 class='sampleText'>Sample prepared and photographed by:</h4>
                                    <div class='profileList'>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Jonathan<br>Williamson</h3>
                                        </div>
                                        <div class='profile'>
                                            <img class='profilePic' src='/media/studentHeadshots/Nobody.jpg'>
                                            <h3 class='profileName'>Muchas<br>Gracias</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class='img imgCardBack imgCard3Back' id='imgCard3Back'src='/media/studentHeadshots/CraniumFossil.jpg'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggleControlsContainer">
            <btn class="toggleControls" id="toggleBackwards"><</btn>
            <div class="rightToggleControlsContainer">
                <btn class="toggleControls" id="toggleForwards">></btn>
                <div class="playPauseBtnContainer">
                    <btn class="toggleControls playPauseControls" id="playPauseBtn">Pause</btn>
                    <btn class="toggleControls playPauseControls" id="fullScreenBtn">
                        <svg id='compressScreenIcon' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="compress" class="svg-inline--fa fa-compress fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M436 192H312c-13.3 0-24-10.7-24-24V44c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-276-24V44c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v84H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24zm0 300V344c0-13.3-10.7-24-24-24H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-84h84c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12H312c-13.3 0-24 10.7-24 24v124c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z"></path></svg>
                        <svg id='fullScreenIcon' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="expand" class="svg-inline--fa fa-expand fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H64v84c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12zM288 44v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12V56c0-13.3-10.7-24-24-24H300c-6.6 0-12 5.4-12 12zm148 276h-40c-6.6 0-12 5.4-12 12v84h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24V332c0-6.6-5.4-12-12-12zM160 468v-40c0-6.6-5.4-12-12-12H64v-84c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v124c0 13.3 10.7 24 24 24h124c6.6 0 12-5.4 12-12z"></path></svg>
                    </btn>
                </div>
            </div>
            
        </div>
        <%- include('./partials/footer')%>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/javaScripts/flipCards.js"></script>
</body>
</html>