@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone-portrait-small {
        @media only screen and (max-width: 380px) {@content}; 
    }
    @if $breakpoint == phone-portrait-large {
        @media only screen and (max-width: 490px) {@content}; 
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 1000px) {@content}; 
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 1300px) {@content}; 
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 1500px) {@content};
    }
}

@mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);
    
    box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
                0 -1px 0 $weight rgba($mix-sub-from, .25),
                1px 0 0 $weight rgba($mix-sub-to, .25),
                -1px 0 0 $weight  rgba($mix-sub-from, .25),
                1px -1px 0 $weight rgba($mix-main, .5),
                -1px 1px 0 $weight rgba($mix-main, .5),
                1px 1px 0 $weight rgba($to, .75),
                -1px -1px 0 $weight rgba($from, .75);
}