.controlsAndCards {
  @include flexbox(row, center, center);
  height: calc(100% - 8rem);
  width: 100%;

  @include respond(tablet-portrait) {
    @include flexbox(column, space-between, center);
    height: 100%;
  }
}

.cardRow {
  @include flexbox(row, space-between, center);
  width: 90%;
  height: 100%;
  max-width: 115rem;
  display: none;

  @include respond(tablet-portrait) {
    @include flexbox(column, center, center);
    display: none;
    width: 100%;
    height: calc(100% - 10rem);
    max-width: none;
  }
}

.col {
  @include flexbox(row, center, center);
  width: 33%;
  height: 100%;

  @include respond(tablet-portrait) {
    width: 100%;
    height: 33%;
  }
}

.card {
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  top: 120vh;
  padding: 2rem;

  @include respond(tablet-portrait) {
    max-height: none;
    height: 100%;
    width: 95%;
    max-width: 100%;
  }

  @include respond(phone-portrait-large) {
    padding: 1rem;
  }


  .cardSide {
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    @include flexbox(column, center, center);
    backface-visibility: hidden;

    @include respond(tablet-portrait) {
      @include flexbox(row, center, center);
    }
  }

  .cardSideBack {
    position: relative;
    bottom: 100%;
    backface-visibility: hidden;
    opacity: 0;
    transform: rotatey(-180deg);
  }

  .textbox {
    background-color: $color-card;
    border: 0.1rem solid $color-cardBorder;
    @include flexbox(column, flex-end, center);
    border-radius: 1rem;
    color: $color-cardText;
    font-family: "PT Sans Narrow", sans-serif;
    height: 66%;
    width: 100%;
    padding: 2rem;

    @include respond(tablet-portrait) {
      @include flexbox(row, flex-start, flex-end);
      height: 60%;
      width: 100%;
      padding: 1rem;
      padding-left: 4rem;
    }
    @include respond(phone-portrait-large) {
      @include flexbox(column, flex-start, flex-end);
      height: 100%;
      width: 66%;
      padding-left: 3rem;
    }

    

    .dateAndCaption {
      @include flexbox(column, center, center);
      width: 100%;
      height: 43%;
      margin-top: 3rem;
      margin-bottom: 0.5rem;

      @include respond(tablet-portrait) {
        width: 40%;
        margin-bottom: 0;
        margin-top: 0rem;
        margin-right: 1rem;
        height: 100%;
      }

      @include respond(phone-portrait-large) {
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 0.5rem;
        height: 43%;
      }

      .date {
        @include flexbox(row, right, center);
        width: 100%;
        height: 10%;
        margin-bottom: 1rem;
        padding-right: 1rem;
        color: $color-black;
        font-size: 2.3rem;
        font-weight: 300;

        @include respond(tablet-portrait) {
          @include flexbox(row, center, center);
          padding-right: 0rem;
          
        }
        @include respond(phone-portrait-large) {
          @include flexbox(row, right, center);
          padding-right: 1rem;
        }        
      }
      
      .caption {
        height: 90%;
        width: 100%;
        box-shadow: inset 0.1rem 0.1rem 0.2rem black;
        background-color: $color-textbox;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 1.8rem;
        font-weight: 100;
        padding: 1rem;
        padding-top: 0.5rem;
        overflow: hidden;
        border-radius: 0.5rem;
      }
    }

    .profiles {
      @include flexbox(column, center, space-between);
      box-shadow: inset 0.1rem 0.1rem 0.2rem black;
      width: 100%;
      height: 57%;
      background-color: $color-textbox;
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      font-weight: 300;
      padding: 1rem;

      @include respond(tablet-portrait) {
        @include flexbox(column, flex-start, center);
        width: 60%;
        height: 100%;
        margin-top: 0rem;
        margin-left: 1rem;
      }

      @include respond(phone-portrait-large) {
        @include flexbox(column, flex-start, center);
        width: 100%;
        height: 57%;
        margin-left: 0rem;
        margin-top: 0.5rem;
      }

      .sampleText {
        font-size: 1.5rem;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-weight: 300;
      }

      .profileList {
        @include flexbox(row, space-evenly, center);
        height: 95%;

        @include respond(tablet-portrait) {
          @include flexbox(row, space-evenly, center);
          width: 100%;
        }

        .projectProfile {
          @include flexbox(row, space-between, center);
          width: 100%;

          .projectPicContainer {
            @include flexbox(column, center, center);
            max-width: 40%;

            .projectPic {
              height: 6rem;
              width: 6rem;
              margin: 0.4rem;
              background-color: $color-black;
              border-radius: 50%;
              border: 0.1rem solid white;

              @include respond(tablet-portrait) {
                height: 9rem;
                width: 9rem;
              }
              
              @include respond(phone-portrait-large) {
                height: 6rem;
                width: 6rem;
              }
            }
            .projectTitle {
              overflow-wrap: break-word;
              font-size: 1.6rem;
              font-weight: bold;
              margin: 0.4rem;
              text-align: center;
            }
          }

          .spacer {
            width: 0.3rem;
            height: 15rem;
            background-color: black;
            padding-top: 1rem;
            padding-bottom: 1rem;
          }

          .projectNamesContainer {
            @include flexbox(column, center, flex-start);
            max-width: 60%;
            margin-left: 0.7rem;
          }
          
          .projectNameContainer {
            @include flexbox (row, center, center);

            .projectNamesPic {
              height: 4.7rem;
              width: 4.7rem;
              margin: 0.3rem;
              border-radius: 50%;
              border: 0.1rem solid black;

              @include respond(tablet-portrait) {
                height: 7.5rem;
                width: 7.5rem;
              }
              
              @include respond(phone-portrait-large) {
                height: 4.7rem;
                width: 4.7rem;
              }
            }
            
            .projectNames {
              font-size: 1.8rem;
              margin-left: 0.5rem;
              text-align: left;
              overflow-wrap: break-word;
              font-weight: 300;

            }
          }
        }

        .profile {
          @include flexbox(column, space-around, flex-start);
          max-width: 45%;

          @include respond(tablet-portrait) {
            @include flexbox(column, space-around, center);
          }

          .profilePic {
            @include flexbox(row, center, center);
            width: 90%;
            aspect-ratio: 1 / 1;
            margin-top: 0.5rem;
            border-radius: 50%;
            border: 0.2rem solid $color-black;
          }
          
          .profileName {
            @include flexbox(row, center, flex-start);
            font-weight: lighter;
            text-align: center;
            width: 100%;
            font-size: 1.8rem;
            margin-top: 1rem;
          }
        }
      }

    }
  }

  .imgContainer {
    @include flexbox(row, center, flex-end);
    width: 100%;

    @include respond(tablet-portrait) {
      @include flexbox(row, flex-end, center);
      width: auto;
      height: 100%;
    }

    .img {
      width: 90%;
      position: relative;
      aspect-ratio: 1/1;
      top: 2rem;
      background-color: white;
      box-shadow: 0 0 0 0.2rem #fff, 0 0 0 0.8rem $color-imgBorder;
      border-radius: 10%;
  
      @include respond(tablet-portrait) {
        top: 0rem;
        height: 95%;
        width: auto;
        left: 2rem;
      }
      @include respond(phone-portrait-large) {
        height: 80%;
        left: 1rem;
      }
    }
  }
  
}

.toggleControls {
    @include flexbox(column, space-around, center);
    font-weight: bold;
    font-family: "PT Sans Narrow", sans-serif;
    height: 75rem;
    width: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @include respond(tablet-portrait) {
      display: none;
    }

    .controlsSpacer {
        height: 20rem;
        width: 5rem;
    }

    .playPauseBtnContainer {
        height: 20rem;
        position: relative;
        @include flexbox(column, flex-end, flex-end);
        padding: 0.5rem;
    }
    
    button {
        border: 0.1rem solid white;
        background-color: rgba(251, 251, 251, 0.267);
        color: black;
        font-size: 5rem;
    
        &:hover {
            background-color: rgb(255, 255, 255);
            box-shadow: 0.5px 0.5px 2rem black;
        }
    
        &:active {
            background-color: rgb(255, 255, 255);
            box-shadow: none;
        }
    }

    #toggleBackwards {
        border-radius: 100% 0% 0% 100%;
        width: 5rem;
        height: 10rem;
    }
        
    #toggleForwards {
        border-radius: 0% 100% 100% 0%;
        width: 5rem;
        height: 10rem;
    }

    .playPauseControls {
    text-align: center;
    font-size: 2.3rem;
    height: 6rem;
    width: 6rem;
    border-radius: 10%;
    line-height: 80%;
    margin: 0.5rem;
    }

    #fullScreenBtn {
        font-size: 2.5rem;
        }
        
        #fullScreenIcon {
        padding: 1rem;
        }
        
        #compressScreenIcon {
        padding: 1rem;
        display: none;
        }
}

.toggleControlsPhone {
  height: 10rem;
  width: 100%;
  display: none;
  position: sticky;
  bottom: 0;
  border: 1px solid $color-cardBorder;
  

  .togglePhoneArrows {
    height: 100%;
    width: 100%;
    font-size: 7rem;
    border: 1px solid $color-cardBorder;
    background-color: $color-card;
    border: 1px solid $color-cardBorder;
    @include flexbox(row, center, center);
  }

  #togglePhonePlayPause {
    position: absolute;
    left: calc(50% - 3.5rem);
    top: 0.5rem;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    font-weight: 600;
    background-color: rgb(147, 163, 141);

    #playSymbol {
      display: none;
      font-size: 4rem;
    }

    #pauseSymbol {
      font-size: 4rem;
    }
  }

  @include respond(tablet-portrait) {
    display: flex !important;
    
  }
}


@keyframes cardPlacement1 {
  0% {
    top: 120vh;
  }
  2.5% {
    top: 0vh;
  }
  95.5% {
    top: 0vh;
  }
  98% {
    top: 120vh;
  }
  100% {
    top: 120vh;
  }
}

@keyframes cardPlacement2 {
  0% {
    top: 120vh;
  }
  1% {
    top: 120vh;
  }
  3.5% {
    top: 0vh;
  }
  96.5% {
    top: 0vh;
  }
  99% {
    top: 120vh;
  }
  100% {
    top: 120vh;
  }
}

@keyframes cardPlacement3 {
  0% {
    top: 120vh;
  }
  2% {
    top: 120vh;
  }
  4.5% {
    top: 0vh;
  }
  97.5% {
    top: 0vh;
  }
  100% {
    top: 120vh;
  }
}

@keyframes card1FrontFlip {
  0% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  47% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  49% {
    opacity: 0;
    transform: rotatey(180deg);
  }
  93% {
    transform: rotatey(180deg);
  }
  98% {
    transform: rotatey(180deg);
  }
}

@keyframes card2FrontFlip {
  1% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  48% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  50% {
    opacity: 0;
    transform: rotatey(180deg);
  }
  94% {
    transform: rotatey(180deg);
  }
  99% {
    transform: rotatey(180deg);
  }
}
@keyframes card3FrontFlip {
  2% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  49% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  51% {
    opacity: 0;
    transform: rotatey(180deg);
  }
  95% {
    transform: rotatey(180deg);
  }
  100% {
    transform: rotatey(180deg);
  }
}

@keyframes card1BackFlip {
  0% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  47% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  49% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  93% {
    transform: rotatey(0deg);
  }
  98% {
    opacity: 1;
    transform: rotatey(0deg);
  }
}
@keyframes card2BackFlip {
  1% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  48% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  50% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  94% {
    transform: rotatey(0deg);
  }
  99% {
    opacity: 1;
    transform: rotatey(0deg);
  }
}
@keyframes card3BackFlip {
  2% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  49% {
    transform: rotatey(-180deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  95% {
    transform: rotatey(0deg);
  }
  100% {
    opacity: 1;
    transform: rotatey(0deg);
  }
}

@keyframes allCardsFlipFrontForwards {
  0% {
    opacity: 0;
    transform: rotatey(180deg);
  }
  100% {
    opacity: 1;
    transform: rotatey(0deg);
  }
}

@keyframes allCardsFlipBackForwards {
  0% {
    opacity:1;
    transform: rotatey(0deg);
  }
  100% {
    opacity: 0;
    transform: rotatey(180deg);
  }
}

@keyframes allCardsFlipFrontBackwards {
  0% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotatey(0deg);
  }
}

@keyframes allCardsFlipBackBackwards {
  0% {
    opacity: 1;
    transform: rotatey(0deg);
  }
  100% {
    opacity: 0;
    transform: rotatey(-180deg);
  }
}

@keyframes allCardsPositionUp {
  0% {
    top: 120vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes allCardsPositionDown {
  0% {
    top: 0vh;
  }
  100% {
    top: 120vh;
  }
}