<% layout('./layouts/bootstrapBoilerplate') %>
  <div class="col-4 offset-4 mt-5">
    <h1> Admin Login Only </h1>
    <h2> Sorry, this website is not open for users at this time</h2>
    <form action='/login' class="row g-3 needs-validation" method='POST' novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Admin Username</label>
          <div class="input-group has-validation">
            <input type="text" name='username' class="form-control" id="username" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Username required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="validationCustom03" class="form-label">Password</label>
          <input type="password" name='password' class="form-control" id="password" required>
          <div class="invalid-feedback">
            Password required
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
  </div>
