<% layout('./layouts/bootstrapBoilerplate') %>
<div class='col-4 offset-4'>
    <h1>Registration</h1>
    <form action='/register' method='POST' class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" name='username' id="username" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name='email' id="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name='password' id="password" required>
            <div class="invalid-feedback">
                Please provide a password
            </div>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Register</button>
    </form>
</div>